/* Compile css to scss
    --> install sass
    --> open terminal
    --> sass css/main.scss css/main.css 
*/
/* Color Variable*/
html {
  scroll-behavior: smooth;
}

/*font color*/
.font-primary {
  color: #DC1C4D;
}

.font-black {
  color: #212529;
}

.font-disable {
  color: #CED4DA;
}

.font-active {
  color: #9DABB9;
}

.font-link {
  color: #3A89FF;
}

.font-white {
  color: #F4F5F8;
}

.font-succ {
  color: #3C763D;
}

.font-fail {
  color: #DC1C4D;
}

/*bg color*/
.bg-body {
  background-color: #F4F5F8;
}

.bg-black {
  background-color: #212529;
}

.bg-primary-red {
  background-color: #DC1C4D;
}

.bg-container {
  background-color: #FFFFFF;
}

.bg-gradient-banner {
  background: linear-gradient(90deg, #DC1C4D 0%, #A82849 100%);
}

/*border*/
.border-primary {
  border: 2px solid #DC1C4D;
}

.border-tertiary {
  border: 2px solid #212529;
}

.border-soft {
  border: 2px solid #9DABB9;
}

.border-soft-1 {
  border: 1px solid #CED4DA;
}

.border-top {
  border-top: 1px solid #9DABB9;
}

.border-bottom {
  border-bottom: 1px solid #9DABB9;
}

/*radius*/
.radius-norm {
  border-radius: 4px;
}

/*Typografi Style*/
@font-face {
  font-family: MyriadPro;
  src: url("../assets/font-face/head/MYRIADPRO-BOLD.OTF") format("opentype");
}
@font-face {
  font-family: Aller;
  src: url("../assets/font-face/body/Aller_Rg.ttf") format("truetype");
}
body {
  font-family: Aller;
  color: #212529;
}

h1 {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: bold;
}

h2 {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: bold;
}

h4 {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: bold;
}

h5 {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: bold;
}

.bodybig {
  font-family: Aller;
  font-style: normal;
  font-weight: normal;
}

.body-1 {
  font-family: Aller;
  font-style: normal;
  font-weight: normal;
}

.subtitle {
  font-family: Aller;
  font-style: normal;
  font-weight: normal;
}

.caption {
  font-family: Aller;
  font-style: normal;
  font-weight: normal;
}

.button-font {
  font-family: Aller;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
}

/*shadow*/
.shadow-soft {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.shadow-button {
  box-shadow: 0px 4px 14px rgba(220, 28, 77, 0.5);
}

/*button*/
.btn-full-width {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  text-align: center;
}

.button {
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  border-radius: 4px;
}
.button:focus {
  outline: none;
}

.button-primary {
  background-color: #DC1C4D;
  border: none;
  color: #F4F5F8;
  transition: box-shadow 0.3s, background 0.8s;
  background-position: center;
}
.button-primary:disabled {
  background: #FFD3DF;
  cursor: not-allowed !important;
}
.button-primary:hover:enabled {
  box-shadow: 0px 4px 14px rgba(220, 28, 77, 0.5);
  background: #DC1C4D radial-gradient(circle, transparent 1%, #DC1C4D 1%) center/15000%;
}
.button-primary:active:enabled {
  background-color: #FFD3DF;
  background-size: 100%;
  transition: background 0s;
}
.button-primary:focus:enabled {
  background-color: #FFD3DF;
}

.button-secondary {
  border: 2px #DC1C4D;
  background-color: #FFFFFF;
  color: #DC1C4D;
  border: 2px solid #F4F5F8;
  transition: border 0.3s, box-shadow 0.3s;
}
.button-secondary:disabled {
  background: #CED4DA;
  color: #F4F5F8;
  cursor: not-allowed !important;
}
.button-secondary:hover:enabled {
  border: 2px solid #DC1C4D;
}
.button-secondary:focus:enabled {
  box-shadow: 0 0 0 3px #FFD3DF;
}

.button-tertiary {
  background-color: transparent;
  border: none;
  color: rgba(33, 37, 41, 0.56);
  transition: color 0.3s;
}
.button-tertiary:disabled {
  color: #CED4DA;
  cursor: not-allowed !important;
}
.button-tertiary:hover:enabled {
  color: #212529;
}
.button-tertiary:focus:enabled {
  color: #212529;
  text-decoration: underline;
}

a {
  transition: letter-spacing 0.8s;
}
a:focus:enabled {
  outline: none;
  letter-spacing: 2px;
}

.button-big-primary {
  border: 2px solid #DC1C4D;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  background: #FFD3DF;
  transition: box-shadow 0.3s, background 0.8s, color 0.3s;
  background-position: center;
}
.button-big-primary .icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-big-primary:disabled {
  background: #FFD3DF;
  border: 2px solid #CED4DA;
  cursor: not-allowed !important;
}
.button-big-primary:hover:enabled {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  background: #DC1C4D radial-gradient(circle, transparent 1%, #DC1C4D 1%) center/15000%;
  color: #FFFFFF;
}
.button-big-primary:active:enabled {
  background-color: #FFD3DF;
  background-size: 100%;
  transition: background 0s;
}
.button-big-primary:focus:enabled {
  background-color: #FFD3DF;
  outline: none;
}

.button-big-secondary {
  border: 0px solid #DC1C4D;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  background: #FFFFFF;
  transition: box-shadow 0.3s, background 0.8s, color 0.3s;
  background-position: center;
}
.button-big-secondary .icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-big-secondary:disabled {
  background: #FFD3DF;
  border: 2px solid #CED4DA;
  cursor: not-allowed !important;
}
.button-big-secondary:hover:enabled {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  background: #DC1C4D radial-gradient(circle, transparent 1%, #DC1C4D 1%) center/15000%;
  color: #FFFFFF;
}
.button-big-secondary:active:enabled {
  background-color: #FFD3DF;
  background-size: 100%;
  transition: background 0s;
}
.button-big-secondary:focus:enabled {
  background-color: #FFD3DF;
  outline: none;
}

/*input*/
textarea:focus,
select:focus,
.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
.uneditable-input:focus {
  border-color: #FFD3DF;
  box-shadow: 0 0px 3px #FFD3DF inset, 0 0 8px #FFD3DF;
  outline: 0 none;
}

textarea {
  width: 100%;
}

/*favicon*/
.circle-socialmedia {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 8px;
}

.fav-icon-container {
  flex-direction: row;
  align-items: center;
}

.fav-icon {
  height: 32px;
  width: 32px;
  margin: 0 8px 0 8px;
  display: inline-block;
}

.alert-icon {
  width: 24px;
  height: 24px;
  margin: 4px;
}

.icon {
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  width: 44px;
  height: 44px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/*status*/
.status-step {
  padding: 8px;
  align-items: center;
  border: 2px solid #9DABB9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  color: #9DABB9;
}

.status-step-active {
  border: 2px solid #212529;
  color: #212529;
}

.status-step-now {
  border: 2px solid #DC1C4D;
  color: #DC1C4D;
}

.status-step-fail {
  border: 2px solid #DC1C4D;
  color: #DC1C4D;
  background-color: #FFD3DF;
}

.status-step-succ {
  border: 2px solid #3C763D;
  color: #3C763D;
  background-color: #DFF0D8;
}

.status-step-wait {
  border: 2px solid #8A6D3B;
  color: #8A6D3B;
  background-color: #FCF8E3;
}

.no-border {
  border: none;
}

.status-set {
  padding: 8px 12px;
  border-radius: 4px;
}
.status-set .status-set-inside {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.line-status-bar {
  width: 80px;
  height: 4px;
  flex-grow: 0;
  margin: 28px 0 28px;
  background-color: #9DABB9;
}

.line-status-bar-succ {
  width: 80px;
  height: 4px;
  flex-grow: 0;
  margin: 28px 0 28px;
  background-color: #3C763D;
}

.none-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/*footer*/
footer {
  background-color: #FFFFFF;
}

.content-footer-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/*navbar*/
.navbar-fixed {
  background-color: #212529;
  justify-content: center;
  align-items: center;
}
.navbar-fixed:focus {
  outline: none;
}
.navbar-fixed .button {
  border-radius: 0px;
  outline: none;
}
.navbar-fixed .button-login {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  transition: color 0.3s;
}
.navbar-fixed .button-login:disabled {
  color: #F4F5F8;
  cursor: not-allowed !important;
}
.navbar-fixed .button-login:hover:enabled {
  color: #9DABB9;
}
.navbar-fixed .button-login:focus:enabled {
  color: #F4F5F8;
  text-decoration: underline;
}
.navbar-fixed .button-regist {
  background-color: #DC1C4D;
  border: none;
  color: #F4F5F8;
  transition: box-shadow 0.3s, background 0.8s;
  background-position: center;
}
.navbar-fixed .button-regist:disabled {
  background: #FFD3DF;
  cursor: not-allowed !important;
}
.navbar-fixed .button-regist:hover:enabled {
  box-shadow: 0px 4px 14px rgba(220, 28, 77, 0.5);
  background: #DC1C4D radial-gradient(circle, transparent 1%, #DC1C4D 1%) center/15000%;
}
.navbar-fixed .button-regist:active:enabled {
  background-color: #FFD3DF;
  background-size: 100%;
  transition: background 0s;
}
.navbar-fixed .button-regist:focus:enabled {
  background-color: #FFD3DF;
}

.navbar-landingpage {
  /* Set the border color to the desired color */
}
.navbar-landingpage a {
  color: #212529;
}
.navbar-landingpage a:hover {
  color: #DC1C4D;
  outline: none;
}
.navbar-landingpage .custom-toggler.navbar-toggler {
  border-color: #212529;
  background-color: #FFFFFF;
}
.navbar-landingpage .custom-toggler .navbar-toggler-icon {
  color: #212529;
}

.navbar-dashboard {
  height: 100%;
  width: 138px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0px 0px 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.navbar-dashboard .favicon {
  width: 64px;
}
.navbar-dashboard a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #F2DEDE;
  display: block;
  transition: 0.3s;
}
.navbar-dashboard a:hover {
  color: #DC1C4D;
}
.navbar-dashboard .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  left: 500px;
  margin: 32px 0px 0px 138px;
}

/*margin*/
.margin-top-down-16 {
  margin: 16px 0px;
}

.margin-top-down-32 {
  margin: 32px 0px;
}
.text-center {
  position: relative;
  justify-content: space-between;
}
.margin-top-down-64 {
  margin: 64px 0px;
}

.margin-down-32 {
  margin-bottom: 32px;
}

.margin-down-12 {
  margin-bottom: 12px;
}

.margin-down-8 {
  margin-bottom: 8px;
}

.margin-left-right-32 {
  margin: 0px 32px;
}

.margin-left-right-12 {
  margin: 0px 12px;
}

.margin-left-right-8 {
  margin: 0px 8px;
}

.margin-left-right-4 {
  margin: 0px 4px;
}

.margin-all-32 {
  margin: 32px;
}

.margin-all-16 {
  margin: 16px;
}

.margin-all-8 {
  margin: 8px;
}

.margin-all-4 {
  margin: 4px;
}

.margin-all-0 {
  margin: 0px;
  padding: 0px;
}

.margin-right-32 {
  margin-right: 12px;
}

.padding-all-32 {
  padding: 32px;
}

.padding-left-64 {
  padding-left: 64px;
}

/*step*/
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #CED4DA;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.step.finish {
  background-color: #DC1C4D;
}

/*hidden*/
.opacity-0 {
  opacity: 0;
}

/*keyframe*/
.illust-show {
  animation: hidetoshow 2.3s;
}

@keyframes hidetoshow {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/*utility*/
.vertical-center {
  justify-content: center;
  align-items: center;
}

.footer-card-no-bg-border {
  background-color: transparent;
  border-top: transparent;
}

/*tabs*/
/* not active */
.nav-pills .pill-cus .nav-link:not(.active) {
  color: #9DABB9;
  text-decoration: none;
}
.nav-pills .pill-cus .nav-link:not(.active) .filter {
  filter: invert(76%) sepia(8%) saturate(537%) hue-rotate(169deg) brightness(88%) contrast(88%);
}

/* active*/
.nav-pills .pill-cus .nav-link {
  background-color: #FFFFFF;
  color: #DC1C4D;
  text-decoration: underline;
  text-decoration-color: #DC1C4D;
  -webkit-text-decoration-color: #DC1C4D;
  /* Safari */
}
.nav-pills .pill-cus .nav-link .filter {
  filter: invert(28%) sepia(78%) saturate(5131%) hue-rotate(332deg) brightness(86%) contrast(100%);
}

/*selectTime as div*/
.time-group {
  display: flex;
  flex-direction: row;
}

.time {
  align-items: center;
  padding: 8px 24px;
  background-color: #FFFFFF;
  margin: 4px 4px 0 0;
  cursor: pointer;
  border-color: #9DABB9;
  border: 1px solid #9DABB9;
  color: #9DABB9;
  user-select: none;
  transition: 0.3s;
}
.time.selected {
  border-color: #DC1C4D;
  border: 2px solid #DC1C4D;
  color: #DC1C4D;
}
.time.disabled {
  border-color: #CED4DA;
  border: 2px solid #CED4DA;
  color: #CED4DA;
  pointer-events: none;
}

/*dashboard style*/
.dash-black-div {
  background-image: url("../assets/illustration/dash-bg-1.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  object-fit: fill;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  background: #f0f3f6;
  color: #3a3a3a;
}
hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}
label, input{
	cursor: pointer;
}
h2,h3,h4,h5{
	font-weight: 600;
	line-height: 1.3;
	color: #1f2949;
}
h2{
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
	font-weight: 400;
}
img{
	max-width: 80%;
	display: flex;
	vertical-align: middle;
}
.container {
  max-width: 99vw;
  margin: 15px;
  padding: 0 15px;
}
.top-text-wrapper {
	margin: 20px 0 30px 0;
}
.top-text-wrapper h4{
	font-size: 24px;
  margin-bottom: 10px;
}
.top-text-wrapper code{
  font-size: .85em;
  background: linear-gradient(90deg,#fce3ec,#ffe8cc);
  color: #ff2200;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
.tab-section-wrapper{
  padding: 30px 0;
}

.grid-wrapper {
	display: grid;
	grid-gap: 20px;
	place-items: center;
	place-content: center;
}
.grid-col-auto{
  grid-template-columns: repeat(auto-fill, minmax(280px, .1fr));
  grid-template-rows: auto;
}
.grid-col-1{
	grid-template-columns: repeat(1, auto);
	grid-template-rows: repeat(1, auto);
}
.grid-col-2{
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(1, auto);
}
.grid-col-3{
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(1, auto);
}
.grid-col-4{
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(1, auto);
}


/* ******************* Selection Radio Item */

.selected-content{
	text-align: center;
	border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
  border: solid 2px transparent;
	background: #fff;
	max-width: 300px;
	height: 300px;
	padding: 16px;
	display: grid;
	grid-gap: 12px;
	place-content: center;
	transition: .3s ease-in-out all;
}

.selected-content img {
    width: 80px;
		margin: 0 auto;
}
.selected-content h4 {
	font-size: 16px;
  letter-spacing: -0.24px;
  text-align: center;
  color: #1f2949;
}
.selected-content h5 {
	font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #686d73;
}

.selected-label{
	position: relative;
}
.selected-label input{
	display: none;
}
.selected-label .icon{
	width: 20px;
  height: 20px;
  border: solid 2px #e3e3e3;
	border-radius: 50%;
	position: absolute;
	top: 15px;
	left: 15px;
	transition: .3s ease-in-out all;
	transform: scale(1);
	z-index: 1;
}
.selected-label .icon:before{
	content: "\f00c";
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	color: #000;
	text-align: center;
	opacity: 0;
	transition: .2s ease-in-out all;
	transform: scale(2);
}
.selected-label input:checked + .icon{
	background: #DC1C4D;
	border-color: #DC1C4D;
	transform: scale(1);
}
.selected-label input:checked + .icon:before{
	color: #fff;
	opacity: 0.1;
	transform: scale(.6);
}
.selected-label input:checked ~ .selected-content{
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5);
  border: solid 2px #DC1C4D;
}
/*Imagery*/

/*# sourceMappingURL=main.css.map */
